### Bibliotecas Úteis

In [89]:
import pandas as pd
import numpy as np
import seaborn as sns
from seaborn import color_palette
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

import statsmodels.formula.api as smf
import statsmodels.api as sm

from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.metrics import accuracy_score, recall_score

%matplotlib inline

### Leitura dos Dados

In [90]:
dados = pd.read_csv('dengue_pre_proc.csv',low_memory=False)
print(dados.shape)
dados.head()

(61370, 89)

,_id,dt_notificacao,co_uf_notificacao,co_municipio_notificacao,co_unidade_notificacao,dt_diagnostico_sintoma,dt_nascimento,tp_sexo,tp_gestante,tp_raca_cor,...,diabetes,hematolog,hepatopat,renal,hipertensao,acido_pept,auto_imune,notificao_dias,idade,caso_internacao
0,"ObjectId(""5ce365969db9b8440471220e"")",2014/01/17 00:00:00,26.0,261160.0,6481876.0,2013/02/25 00:00:00,2010/08/23 00:00:00,M,6.0,9.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,334.0,2.0,SIM
1,"ObjectId(""5ce365969db9b8440471220f"")",2014/04/10 00:00:00,26.0,261160.0,20516.0,2013/04/07 00:00:00,2000/06/10 00:00:00,F,9.0,9.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,365.0,12.0,SIM
2,"ObjectId(""5ce365969db9b84404712210"")",2014/01/07 00:00:00,26.0,261160.0,2802783.0,2013/09/08 00:00:00,1990/11/11 00:00:00,M,6.0,4.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,122.0,22.0,SIM
3,"ObjectId(""5ce365969db9b84404712211"")",2014/01/07 00:00:00,26.0,261160.0,6726852.0,2013/11/04 00:00:00,2009/04/10 00:00:00,F,6.0,9.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,61.0,4.0,SIM
4,"ObjectId(""5ce365969db9b84404712212"")",2014/01/17 00:00:00,26.0,261160.0,6481876.0,2013/11/05 00:00:00,1967/07/28 00:00:00,F,9.0,9.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,61.0,46.0,SIM

In [91]:
##dados.columns
dadosVariaveis = dados[['_id','febre', 'mialgia', 'cefaleia', 'exantema', 'vomito', 'nausea','dor_costas', 'conjutivite', 'artrite', 'artralgia', 'petequia_n','leucopenia', 'laco', 'dor_retro', 'diabetes', 'hematolog', 'hepatopat','renal', 'hipertensao', 'acido_pept', 'auto_imune','idade', 'caso_internacao']]

In [92]:
# 23 variaveis - uma dependente e o resto independente
dadosVariaveis.shape

(61370, 24)

In [93]:
dadosVariaveis.head()
print(dadosVariaveis.columns)

Index(['_id', 'febre', 'mialgia', 'cefaleia', 'exantema', 'vomito', 'nausea',
       'dor_costas', 'conjutivite', 'artrite', 'artralgia', 'petequia_n',
       'leucopenia', 'laco', 'dor_retro', 'diabetes', 'hematolog', 'hepatopat',
       'renal', 'hipertensao', 'acido_pept', 'auto_imune', 'idade',
       'caso_internacao'],
      dtype='object')

In [94]:
dadosVariaveis.caso_internacao.value_counts()

NAO    49373
SIM    11995
Name: caso_internacao, dtype: int64

   ### Escolhendo subset de Treino

In [95]:
#for linha in dadosVariaveis:
   # dadosVariaveis['Treino'] = None

In [96]:
dadosVariaveis.head()

,_id,febre,mialgia,cefaleia,exantema,vomito,nausea,dor_costas,conjutivite,artrite,...,dor_retro,diabetes,hematolog,hepatopat,renal,hipertensao,acido_pept,auto_imune,idade,caso_internacao
0,"ObjectId(""5ce365969db9b8440471220e"")",2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,SIM
1,"ObjectId(""5ce365969db9b8440471220f"")",2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,12.0,SIM
2,"ObjectId(""5ce365969db9b84404712210"")",2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,22.0,SIM
3,"ObjectId(""5ce365969db9b84404712211"")",2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,SIM
4,"ObjectId(""5ce365969db9b84404712212"")",2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,46.0,SIM

#### Divisão dos dados em treino e teste

In [98]:
train = dadosVariaveis.sample(frac=0.8,random_state=200)
test= dadosVariaveis.drop(train.index)

In [103]:
print('Usando 80% do dataset para treino')
train.shape

Usando 80% do dataset para treino

(49096, 24)

In [104]:
print('Quantidade de casos de internação dentro do dataset de treino')
train.caso_internacao.value_counts()

Quantidade de casos de internação dentro do dataset de treino

NAO    39496
SIM     9598
Name: caso_internacao, dtype: int64

In [105]:
print('Usando 20% do dataset para teste')
test.shape

Usando 20% do dataset para teste

(12274, 24)

In [106]:
print('Quantidade de casos de internação dentro do dataset de teste')
test.caso_internacao.value_counts()

Quantidade de casos de internação dentro do dataset de teste

NAO    9877
SIM    2397
Name: caso_internacao, dtype: int64